.header {
  width: 100%;
  display: flex;
  justify-content: center; /* центрируем внутренний контейнер */
  position: fixed;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; /* Поверх всего */
}

/* добавь внутренний контейнер, ограничивающий ширину */
.header__container {
  width: 80%;
  max-width: 100%; /* вот тут регулируешь "ширину блока" */
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__leftside {
  display: flex;
  align-items: center;
}

.header__rightside {
  display: flex;
  align-items: center;
}
